*, .jumbotron {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(./images/chicago-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.hero-container {
    display: flex;
    flex-direction: column;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transform: translateY(-125px);
}

.text-container {
    transition-property: all;
    transition-duration: 2s;
    color: #4d4d4d;
    line-height: 0px;
    transform: translateY(-100px);
}

.title-intro {
    animation: fadeIn 1s ease-out 0.5s 1 normal both;
}

.title-name {
    color: #7176BF;
    animation: fadeIn 1s ease-out 1.0s 1 normal both;
}

.title-end {
    animation: fadeIn 1s ease-out 2.0s 1 normal both;
}

.phone-icon {
    animation: fadeIn 1s ease-out 3s 1 normal both;
}

.tablet-icon {
    animation: fadeIn 1s ease-out 3.3s 1 normal both;
}

.desktop-icon {
    animation: fadeIn 1s ease-out 3.6s 1 normal both;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  

@media (min-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3rem;
    }

    .icon-container {
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 40px;
        order: 2;
        padding-left: 10px;
        margin-top: 0px;
        transform: translateY(-100px);
    }

    .hero-container {
        flex-direction: row;
        justify-content: space-between;
    }
    
}

@media (min-width: 1024px) {

    .icon {
        padding: 0px;
        margin: 0px 20px;
    }
    
}

