*, .jumbotron {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    width: 100%;
    height: auto;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(./images/chicago-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.hero-container {
    display: flex;
    flex-direction: column;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transform: translateY(-125px);
}

.text-container {
    transition-property: all;
    transition-duration: 2s;
    color: #4d4d4d;
    line-height: 0px;
    transform: translateY(-100px);
}

.title-intro {
    animation: fadeIn 1s ease-out 0.5s 1 normal both;
}

.title-name {
    color: #7176BF;
    animation: fadeIn 1s ease-out 1.0s 1 normal both;
}

.title-end {
    animation: fadeIn 1s ease-out 2.0s 1 normal both;
}

.phone-icon {
    animation: fadeIn 1s ease-out 3s 1 normal both;
}

.tablet-icon {
    animation: fadeIn 1s ease-out 3.3s 1 normal both;
}

.desktop-icon {
    animation: fadeIn 1s ease-out 3.6s 1 normal both;
}

#skillsButton, #projectsButton {
    width: 200px;
    height: 40px;
    margin: 0 auto;
    transform: translateY(-50px);
    border-radius: 5px;
    background-color: rgb(223, 223, 223);
    border-bottom: 3px solid #969696;
    color: #7176BF;
    font-weight: 600;
    font-size: 1.3rem;
}

.button-container {
    margin: 0 auto;
    display: flex;

}

#skillsButton:focus, #projectsButton:focus {
    outline: 4px dotted #7176BF;
    outline-offset: 4px;
    border-bottom: 3px solid #7176BF;
}

#skillsButton:hover, #projectsButton:hover {
    border-bottom: 3px solid #7176BF;
}

#skillsButton:active, #projectsButton:active {
    border: none;
    border-bottom: 2px solid #7176BF;
}

#skillsButton, #projectsButton {
    animation: fadeIn 1s ease-out 4s 1 normal both;
}

.skill-container {
    opacity: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

 .skill-one, .skill-two, .skill-three {
    margin: 20px auto;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: rgb(218, 218, 218);
    border: none;
    color: #7176BF;
    font-weight: 600;
    box-shadow: 5px 5px 10px rgba(15,15,15,0.15);
 }

 .skill-container p {
    color: rgb(73, 73, 73);
 }

 .skill-logo {
    margin: 0 auto;
    padding: 20px 0 60px 0;
    height: 70px;
    width: 70px;
 }

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  

@media (min-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3rem;
    }

    .icon-container {
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 40px;
        order: 2;
        padding-left: 10px;
        margin-top: 0px;
        transform: translateY(-100px);
    }

    .hero-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .skill-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    
}

@media (min-width: 1024px) {

    .icon {
        padding: 0px;
        margin: 0px 20px;
    }

    .skill-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }
    
}

